@import url(https://fonts.googleapis.com/css?family=Judson:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Estilos gerais */
#opcoes {
    text-decoration: none;
}


a {
    text-decoration: none;
    color: black;
}

.mainTitle {
    font-family: Judson;
    text-align: center;
    font-size: 40px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.33);
    bottom: 0px;
    background-color: #fefcff;
    display: flex;
    justify-content: center;
}

.navBar {
    display: flex;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fefcff;
    padding: 20px 10px 20px 10px;
    z-index: 1;
}

.link {
    font-family: inter;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.linkHere {
    font-family: inter;
    font-size: 20px;
    color: #d7a9f5;
    text-decoration: none;
    font-weight: 500;
}

body {
    margin: 0px;
    box-sizing: border-box;
    box-sizing: border-box;
}


.img {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.produtos-escrito {
    font-weight: bold;
    margin: 40px 0 20px 10%;
}

.produtos-escrito > p {
    margin: 0;
}

.flex-home {
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;
    flex-wrap: wrap;
}

.card {
    width: 309px;
    height: 399px;
    border-radius: 50px;
    background: #EFD8FE;
    display: inline-block;
    justify-self: center;
}

.card-img {
    width: 100%;
    height: 319px;
    border-radius: 50px;
    padding-top: 0px;
    transition: all 250ms;
}

.card-img:hover {
    transform: scale(1.04);
    border-radius: 15px;
    box-shadow: 0px 0px 20
}

    button {
        font-family: Inter;
        font-weight: bold;
        background-color: #fefcff;
        padding: 14px 24px;
        border: unset;
        border-radius: 50px;
        z-index: 0;
        font-size: 14px;
        display: flex;
        justify-content: center;
        justify-self: center;
        margin: 14px 0 0 33px;
        transition: all 250ms;
        box-shadow: 0px 0px 20px rgba(225, 145, 243, 0.772);
    }
    
    .botao {
        display: flex;
        justify-content: center;
        margin: -30px 0 50px -50px;

    }
    
    button:hover {
        background-color: #d7a9f5;
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .quote {
        background-color: #EFD8FE;
        padding: 20px 10px 2px 10px;
        display: block;
        justify-content: center;
        margin-top: -10px;
    }
    
    .credit {
        display: flex;
        justify-content: center;
    }
    
    .text {
        font-family: Judson;
        text-align: center;
        font-size: 48px;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.33);
    }
    
    .produtos {
        font-family: Judson;
        margin-left: 10px;
        font-size: 35px;
        font-weight: 500;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
    }
    
    .frase {
        display: flex;
        flex-direction: row;
        gap: 15px;
        background-color: #EFD8FE;
        margin: 0;
        width: 100%;
        padding: 25px 300px;
        font-family: "Judson", serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .sobre {
        display: flex;
        flex-direction: row;
        row-gap: 200px;
        padding: 100px;
        background-color: #F8F7F7;
    }
    
    .sobre-texto{
        margin-right:  5%;
    }

    .sobre-texto > p {
        font-family: Inter;
    }
    .sobre-texto > h3 {
        font-family: Judson;
        font-size: 24px;
    }
    .titulo-quem-sou-eu {
        font-family: "Judson", serif;
        font-size: 4vw;
        margin: 0;
    }
    
    .texto-quem-sou-eu {
        font-family: "Inter", sans-serif;
    }
    
    .img-sobre {
        width: 100%;
        width: 980px;
        max-width: 531px;
        height: auto;
        border-radius: 50px;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.826);
    }
    
    .instagram {
        background-color: #d7a9f5;
        width: 17px;
        scale: 2;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        justify-content: center;
        align-content: center;
        display: flex;
        cursor: pointer;
    }
    
    .whatsapp {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        left: 10px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
    }
    
    #wpp {
        margin-top: 10px;
    }
    
    .whatsapp:hover {
        background-color: #1ba04b;
        cursor: pointer;
        transform: scale(1.1);
        transition: ease-in-out 200ms;
    }
    
    .legenda-footer {
        background-color: #EFD8FE;
        padding: 5px;

    }

    .legenda-footer p {
        font-family:  "Inter", sans-serif;;
    }
    
    .pedido {
        margin-bottom: 312px;
    }
    footer {
        padding: 5px;
        text-align: center;
    }
    
    .footer-bar {
        background-color: #9867B899;
        color: #010B13;
        padding: 0 0; 
        margin: 0;
    }
    
    .footer-background {
        background-color: #EFD8FE;
        padding: 0; 
        margin: 0;
    }

    
    
    .social-media {
        position: absolute;
        right: 10px; 
        top: 50%;
        transform: translateY(-50%);
    }
    
    .social-media a {
        margin: 0;
    }
    
    .social-media img {
        width: 300px;
        height: auto;
    }
    
    .contatenos-img-container {
        position: relative;
        width: 100%;
        height: 128px;
        overflow: hidden;
    }
    
    .contatenos-img-container > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(5px);
    }
    
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 48px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .veja-mais {
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    #mandala {
        cursor: pointer;
    }
    .valores {  
        background: #f3f3f3;  
        padding: 20px;  
        display: flex;  
        justify-content: center;  
        gap: 20px;  
        margin-top: 40px;  
    }  
    .valor-title{
        font-family: Judson;
        font-size: 24px;
    }
    .valor-item {  
        text-align: center;  
        max-width: 200px; 
        font-family: Inter; 
    }  
    
    .valor-img {  
        width: 100%;  
        border-radius: 50%;  
    } 
    
    .valor-title { 
        color: #333; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
    } 

    .ajuda{
        font-family: Inter;
        font-size: 17px;
        text-align: center;
        margin-left: 5px;
        margin-right: 15px;
    }
    
    @media (max-width: 768px) {  
        .valores {  
            flex-direction: column;  
            align-items: center;  
        }  
        .img {
            width: 100%;
            height: 201px;
            object-fit: cover;
        }
        .valor-item {  
            max-width: 80%;  
            margin-bottom: 20px;  
        }  

        .mainTitle {
            font-size: 30px;
        }
    
        .link, .linkHere {
            font-size: 14px;
        }
    
        .produtos-escrito {
            margin: 20px 0 10px 5%;
        }
    
        .flex-home {
            flex-direction: column;
            gap: 10px;
        }
    
        .card {
            width: 309px;
            height: 399px;
        }
    
        .quote {
            padding: 10px 5px 1px 5px;
        }
    
        .text {
            font-size: 36px;
        }
    
        .produtos {
            font-size: 28px;
        }
    
        .frase {
            flex-direction: column;
            padding: 10px 20px;
        }
    
        .sobre {
            flex-direction: column;
            padding: 20px;
            gap: 20px;
        }
    
        .sobre-texto {
            width: 100%;
            margin-right: 0;
        }
    
        .titulo-quem-sou-eu {
            font-size: 6vw;
        }
    
        .img-sobre {
            width: 100%;
            height: auto;
        }
    
        .text-overlay {
            font-size: 24px;
        }
    
        .veja-mais {
            font-size: 24px;
        }
    }